<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>{{title}}</title>
</head>

<body class="list-body">
    {% for row in rows %}

    <div class="list-container">
        {% for value in row %}
        <p class="list-header">{{headers[loop.index0]}}</p>
        {% if headers[loop.index0] in image_columns %}
        <img src="{{value}}" alt="{{row[0]}}" style="max-width: 70px;">
        {% else %}
        <p class="list-value">{{value}}</p>
        {%endif%}
        {% endfor %}
    </div>
    {% endfor %}
</body>

</html>